################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PROTRADE/FileContentIndex
/.vs/PROTRADE/CopilotIndices
/.vs/PROTRADE/CopilotIndices
/.gitignore
/.vs/PROTRADE/v17/HierarchyCache.v1.txt
